
*{
  box-sizing: border-box;
}

.middle-main{
  background-color: #f8f8f8;
  width: 100vw; 
  &__pickupContainer{
    width: 100%;
    padding: 80px 0 0;
    background-color: #f8f8f8;
    color: #000;
    box-sizing: border-box;
    &__head{
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
      padding-bottom: 80px;
      &__productBox{
        height: 307px;
        font-size: 24px;
        text-decoration: none;
        color:#3CCACE;
        font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
        text-align: center;
        &__productHead{
          text-align: center; 
        }
        &__productLists{
          margin: 26px auto;
          display: flex;
          justify-content: center;
          text-align: center;
          &__path {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 2;
            display: none;
            text-decoration: none;
          }
          &__productList{
            position: relative;
            z-index: 1;
            border-style: none;
            float: left;
            background-color: #FFFFFF;
            height: 245px;
            width: 220px;
            &:hover {
              color: #aaa;
              background-color: rgba(0,0,0, 0.1)
            }
            &__path{
              text-decoration: none;
            }
            &__box {
              width: 100%;
              height: 150px;
              position: relative;
              .sold__out {
                display: flex;
                width: 0;
                height: 0;
                border-top: 40px solid #3CCACE ;
                border-right: 40px solid transparent;
                border-bottom: 40px solid transparent;
                border-left: 40px solid #3CCACE ;
                opacity: 0.8;
                position: absolute;
                top: 0;
                left: 0;
                &__inner{
                  transform: rotate(-45deg);
                  font-size: 16px;
                  margin:-15px 0px 0px -45px;
                  color: #fff;
                  letter-spacing: 2px;
                  font-weight: 600;
                }
              }
              &__image{
                height: 100%;
                width: 150px;
                border-style: none;
              }
            }
            &__body{
              position: relative;
              font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
              padding-top: 16px;
              text-decoration: none;
              font-size: 15px;
              &__item-price{
                position: absolute;
                right: 0;
              }
              &__box {
                font-weight: normal;
                height: 24px;
                display: flex;
                justify-content: space-between;
                &__price{
                  padding-left: 16px;
                  height: 24px;
                  width: 220px;
                  font-size: 16px;
                  color: #000;
                  display: flex;
                }
                &__font{
                  font-size: 16px;
                  color: #000;
                  align-items: center;
                  padding-right: 16px;
                } 
              }
              &__tax{
                padding-left: 16px;
                height: 15px;
                width: 220px;
                font-size: 10px;
                color:#000;
                text-align: left;
              }
              .i{
                color:#000;
                display: flex;
                align-items: center;
                justify-content: space-between;
              }
            }
          }
        }
      } 
    }
  }

  &__appBanner{
    height: 359.33px;
    width: 100%;
    background-size: cover;
    background-position: center;
    font-size: 16px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .appBanner{
      width: 100vw;
      height: 359.33px; 
    }
    &__inner{
      height: 159.33px;
      width: 100vw;
      flex-direction: column;
      position: absolute;
      color: #FFFFFF;
      &__inner-title{
        width: 100vw;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 24px;
        font-weight: bold;
        line-height: 1.4;
        text-align: center;
        color: #FFFFFF;
      &__inner-text{
        height: 53;
        width:100vw;
        font-size: 35px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        text-align: center;
        color: #FFFFFF;
      &__inner-icon{
        height: 53.33px;
        width: 100vw;
        margin: 20px 0 0;
        text-align: center;
            }
          }
        }
      }
    }
    
  &__top-footer{
    height: 354.34px;
    width: 100%;
    background-color: #272727;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    &__case{
      height: 172px;
      width: 840px;
      display: flex;
      color: #FFFFFF;
      &__break{
        height: 172px;
        width: 263.2px;
        margin: 0 16.7969px 0 0;
        text-align: center;
        font-size: 14px;
        &__footer-title{
          height: 24px;
          width: 263.2px;
          font-size: 16px;
          margin: 0 0 20px 0;
          font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
        &__outline{
          height: 32px;
          width: 263.2px;
          font-size: 12px;
        &__privacy{
          height: 32px;
          width: 263.2px;
          font-size: 12px;
        &__terms{
          height: 32px;
          width: 263.2px;
          font-size: 12px;
        &__covenant{
          height: 32px;
          width: 263.2px;
          font-size: 12px;
          text-align: center;
          flex-direction: column;
        &__footer-logo{
          height: 46.34px;
          width: 100%;
          text-align: center;
          .footer-logo{
            height: 46.34px;
            width: 160px;
        &__bottom-logo{
          height: 16px;
          width: 100%;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &__purchaseBtn{
      height: 116px;
      width: 120px;
      background-color: #3CCACE;
      border-radius: 4%;
      bottom: 32px;
      right: 32px;
      position: fixed;
      padding: 15px;
      text-align: center;
      &__purchase-text{
        height: 27px;
        width: 90px;
        color:#ffffff;
        display: block;
        font-size: 18px;
        text-decoration: none;
        margin-bottom: 5px;
        text-align: center;
        &__purchase-icon{
          text-align: center;
      }
    }     
  }
}    
